<!DOCTYPE html> 
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-
➥
scale=1.0; user-scalable=0;" />
<title>10.4 Leaving My Mark</title>
<style>
  #container {
    width:300px;
  }
  #mapCanvas {
    width:1000px;
    height:700px;
    border-style:solid;
    border-width:2px;
    margin: 22px 0;
  }
  #btnMap {
    float:left;
  }
    #location {
    float:right;
  }
  .numDistance {
    text-align:right;
  }
</style>
<script src="https://maps.google.com/maps/api/js?new_forward_geocoder=true&key=AIzaSyD-qHMDSMh9zmb5UDCTrbm13REYz4Y6DiQ&sensor=false&libraries=geometry&new_forward_geocoder=true"></script>
<script>
var watchId;
var map;      
var poly;    
var lastLatLng; 
var conEarthMi = 3963.19;

function initMap() {
  var btnStartWatch = document.getElementById('startWatch');
  var btnStopWatch = document.getElementById('stopWatch');
  btnStartWatch.addEventListener('click',startWatch,false);
  btnStopWatch.addEventListener('click',stopWatch,false);
  lastLatLng = new google.maps.LatLng(40.7141667,-74.0063889);
    var myOptions = {
    zoom: 14,
    center: lastLatLng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  map = new google.maps.Map(document.getElementById('mapCanvas'), myOptions);
    var polyOptions = {
    strokeColor: '#00FF00',
    strokeOpacity: 1.0,
    strokeWeight: 3
  }
    poly = new google.maps.Polyline(polyOptions);
  poly.setMap(map);
}
function successCallback(position) {
  var posLat = position.coords.latitude;
  var posLng = position.coords.longitude;
  var newLatLng = new google.maps.LatLng(posLat,posLng);
  var distFromLast = 
  google.maps.geometry.spherical.computeDistanceBetween(newLatLng,
  lastLatLng, conEarthMi);
  if (distFromLast > 0.25) {
  var path = poly.getPath();
  path.push(newLatLng);
      var marker = new google.maps.Marker({
      position: newLatLng,
      title: '#' + path.getLength(),
      map: map
    });
    map.setCenter(newLatLng);
        document.getElementById('myPosLat').innerHTML = posLat.toFixed(8);
    document.getElementById('myPosLng').innerHTML = posLng.toFixed(8);
    document.getElementById('watchStatus').innerHTML = 'Updated Position (#' +
path.getLength() + ')';
    lastLatLng = newLatLng;
  }
}
function errorCallback(error) {
  var errMessage = 'ERROR: ';
  var divWatchStatus = document.getElementById('watchStatus');
    switch(error.code)
  {
    case error.PERMISSION_DENIED: 
      errMessage += 'User did not share geolocation data.';
      break;
    case error.POSITION_UNAVAILABLE: 
      errMessage += 'Could not detect current position.';
      break;
    case error.TIMEOUT: 
      errMessage += 'Retrieving position timed out.';
      break;
    default: 
      errMessage += 'Unknown error.';
      break;
  }
    divWatchStatus.innerHTML = errMessage;
}
function startWatch() {
var divWatchStatus = document.getElementById('watchStatus');
if (navigator.geolocation) {
if (watchId == null) {
      var posOptions = {maximumAge:40000,
        timeout:20000,
        enhancedAccuracy:true}
              watchId = navigator.geolocation.watchPosition(successCallback, 
        errorCallback, 
        posOptions); 
              divWatchStatus.innerHTML = 'Watching Location ('+watchId+')'; 
    }
  } else {
      divWatchStatus.innerHTML = 'Geolocation Not Supported';
  }
}
function stopWatch() {
if (watchId != null) {
navigator.geolocation.clearWatch(watchId);
watchId = null;
    document.getElementById('watchStatus').innerHTML = 'Off';
  }
}
window.addEventListener('load',initMap,false);
</script>
</head>
<body>
<div id="container">
  <div id="mapCanvas"></div>
  <div id="btnMap">
    <button id="startWatch">Start Watch</button>
    <br>
    <button id="stopWatch">Stop Watch</button>
  </div>
  <div id="location">
    <table id="status">
      <tr>
        <td>Latitude:</td>
                <td class="numDistance"><div id="myPosLat"></div></td>
      </tr>
      <tr>
        <td>Longitude:</td>
        <td class="numDistance"><div id="myPosLng"></div></td>
      </tr>
      <tr>
        <td colspan="2"><div id="watchStatus"></div></td>
      </tr>
    </table>
  </div>
</div>
</body>
</html>